.controlBox{
    width: 100%;
    height: 100%;
    margin-right:0px;
    margin-top: -2px;
}

.controlBoxArea{
    width: 22%;
    float: left;
    margin-top: 5%;
    padding-left: 1%;
    max-height: 70%;
    overflow: auto;
}

.controlBoxRow{
    background-color: #4C4C4C;
    border-width:thin;
}


.controlBoxLabel{
    width: 54%;
    padding: 1%;
    background-color: #AEAEAE;
    color: black;
    font-size: 1vw;
}

.controlBoxLabel.largeLabel{
    font-size: 0.8vw
}

.controlBoxValue{
    height: 100%;
    padding: 0px;
    width: 46%;
    background-color: #E8E8E8;
}

.controlBoxSelector{
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    border: none;
    font-size: 1vw;
}

.controlBoxSelector.largeSelector{
    font-size: 0.95vw;
}

@media (max-width: 1366px) and (min-width: 1051px) {

    .controlBoxArea {
        width: 30%;
        padding-left: 2%;
    }

    .controlBoxLabel{
        font-size: 1.3vw;
    }

    .controlBoxLabel.largeLabel{
        font-size: 1.05vw
    }

    .controlBoxSelector{
        font-size: 1.5vw;
    }
    .controlBoxSelector.largeSelector{
        font-size: 1.3vw;
    }
}

@media (max-width: 1050px) and (min-width: 851px) {

    .controlBoxArea {
        width: 30%;
        padding-left: 2%;
    }

    .controlBoxLabel{
        font-size: 1.3vw;
    }

    .controlBoxLabel.largeLabel{
        font-size: 1.05vw
    }

    .controlBoxSelector{
        font-size: 1.5vw;
    }

     .controlBoxSelector.largeSelector{
        font-size: 1.1vw;
    }
}

@media (max-width: 850px) and (min-height: 600px){
    .controlBox{
        float: left;
        width: 45%;
        margin-right: 2%;
        margin-top: 0px;
    }

    .controlBoxArea{
        padding-left: 2%;
        width: 98%;
        margin-top: 5%;
    }

     .controlBoxLabel{
        font-size: 1.8vw;
    }

    .controlBoxLabel.largeLabel{
        font-size: 1.6vw
    }

    .controlBoxSelector{
        font-size: 2vw;
    }
    .controlBoxSelector.largeSelector{
        font-size: 1.7vw;
    }
}