body {
    background-color: #EEEEEE;
}

.header{
    background-color: #442257;
    height: 70px;
}

.winjsLogo{
    margin-top: 10px;
    margin-left: 50px;
}

.interactiveInfoSection{
    background-color: #442257;
    height: 200px;
    width: 1180px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    float: left;
}

.interactiveSection{
}

.interactiveInfoSection p{
    padding: 10px;
}

.notificationBanner{
    float: left;
    background-color:  #68254B;
    height: 25px;
    width: 1195px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;

}
